body {
  margin: 0;
  @extend .avenir;
  color: $rollingStone;
  background: $whiteLilac;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}