.Home {
  text-align: center;
  @extend .w-100;
  @extend .flex;
  @extend .pa5;
  max-width: 1200px;
  margin: 0 auto;
  @extend .flex-column;
  
  &-logo {
    animation: Home-logo-spin infinite 20s linear;
    height: 40vmin;
  }

  &-selectors {
    @extend .flex;
    @extend .flex-wrap;

    @extend .justify-center;
    width: 100%;
  }

  &-selectorTitle {
    margin-top: 0;
  }

  &-title--inquiry {
    @extend .mt5;
  }

  &-selectorContainer {
    padding: 20px;
    @include borderedBox;
    @extend .flex-wrap;
    @extend .br2;
    @extend .mr4;
    @extend .ml4;

    &--full {
      width: 100%;
    }
  }

  &-table {
    width: 100%;
    border: 1px solid $dullCyan;
    @extend .pa2;
  }

  &-list {
    @extend .w-100;
    max-width: 400px;
    list-style: none;
    @extend .pl0;
    @extend .ma0;
    border: 1px solid $dullCyan;
  }

  &-info {
    max-width: 300px;
    @extend .mb3;
  }
  
  &-listItem {
    @extend .pt2;
    @extend .pb2;
    @extend .pr3;
    @extend .pl3;
    cursor: pointer;

    &:hover:not(&--selected) {
      background: fade-out($color: $dullCyan, $amount: .5);
      color: $white;
    }

    & + & {
      border-bottom: none;
    }

    &--selected {
      background: $dullCyan;
      color: $white;
      cursor: initial;
    }
  }
  
  &-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  &-link {
    color: #61dafb;
  }

  &-button {
    @include button;
    @extend .mt3;
  }
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
