.InquiryMainInfo {
  background: $athensGray;
  @extend .br-pill;
  @extend .w-100;
  @extend .dib;
  @extend .pa3;
  max-width: 500px;
  @extend .flex;
  margin: 0 auto;

  &-img {
    width: 100px;
    height: 100px;
    @extend .br-100;
    @extend .mr4;
    border: 2px solid $rollingStone;
  }

  &-content {
    display: inline-block;
    text-align: left;
  }
}