.Inquiry {
  text-align: center;
  @extend .w-100;
  @extend .flex;
  @extend .pa5;
  max-width: 1200px;
  margin: 0 auto;
  @extend .flex-column;

  &-button {
    @include button(true);
    @extend .mt3;
  }
}