@mixin borderedBox {
  border: 1px solid $dullCyan;
  background: $white;
  @extend .shadow-4;
}

@mixin button ($filled: false) {
  @extend .br-pill;
  @extend .pt2;
  @extend .pb2;
  @extend .pr5;
  @extend .pl5;
  box-shadow: none;
  font-weight: bold;
  @extend .dib;
  cursor: pointer;
  text-decoration: none;
  
  @if $filled {
    @include buttonGradient;

    &:hover {
      color: $mangoTango;
      border: 2px solid $mangoTango;
      background: none;
    }
  } @else {
    color: $mangoTango;
    border: 2px solid $mangoTango;

    &:hover {
      @include buttonGradient;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    color: $rollingStone;
    border: 2px solid $rollingStone;

    &:hover {
      color: $rollingStone;
      border: 2px solid $rollingStone;
      background: none;
    }
  }
}

@mixin buttonGradient {
  color: $white;
  background-color: $mangoTango; // Old browsers
  @include filter-gradient($mangoTango, $radicalRed, horizontal); // IE6-9
  @include background-image(linear-gradient(left, $mangoTango 0%,$radicalRed 100%));
}