.Steps {
  width: calc(100% - 20px);

  &-dots {
    @extend .ma5;
    @extend .pa0;
    @extend .flex;
    @extend .justify-between;
    @extend .list;
    background: $white;
    height: 3px;
  }

  &-dot {
    width: 15px;
    height: 15px;
    border: 3px solid $white;
    background: $white;
    border-radius: 10px;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
  }

  &-label {
    position: absolute;
    top: 12px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  &-dotContainer {
    position: relative;
    color: $dullCyan;

    &--first {
      .Steps-dot {
        left: -3px;
        transform: none;
      }
    }

    &--last {
      .Steps-dot {
        left: auto;
        right: -3px;
        transform: none;
      }
    }

    &--active {
      .Steps-dot {
        border: 3px solid $dullCyan;
      }

      .Steps-label {
        font-weight: bold;
      }
    }
  }
}